# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart

# Android build
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase
google-services.json
GoogleService-Info.plist

# Environment
.env
.env.*

# OS Files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
